@import url("../scss/var.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.head-title {
  font-size: 35px;
  color: var(--text-primary);
  margin-bottom: 15px;
}

.main-container {
  max-width: 1500px;
  margin: auto;
}
