.hero {
  padding: 40px 40px 65px;
  background-color: var(--bg-secondary);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  @include breakpoint-up(large) {
    padding: 40px 100px 0;
    height: 50vh;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .name-section {
    position: relative;
    order: 2;
    width: 100%;
    text-align: center;
    @include breakpoint-up(large) {
      order: 1;
      text-align: left;
    }
    p {
      font-size: 18px;
      color: var(--text-secondary);
      @include breakpoint-up(large) {
        font-size: 24px;
      }
    }
    .inner-typing-wrapper {
      @include breakpoint-up(large) {
        font-size: 65px;
        margin: 0;
      }
      @include breakpoint-up(medium) {
        font-size: 52px;
        margin: 0;
      }
      margin-top: 10px;
      position: absolute;
      font-weight: 700;
      font-size: 30px;
      color: var(--text-primary);
      // white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: monospace;
      animation: blink 0.5s infinite alternate;
    }
  }

  .profile-pic {
    order: 1;
    @include breakpoint-up(large) {
      order: 2;
    }
    img {
      // filter: drop-shadow(30px 10px 4px #c4a5b3);
      height: 375px;
      // width: 300px;
      object-fit: contain;
    }
  }

  .brief-details {
    color: var(--text-primary);
    .inner-div {
      width: 85%;
      border-left: 3px solid;
      padding: 12px;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
