.hero {
  padding: 40px 50px;
  background-color: var(--bg-secondary);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  @include breakpoint-up(large) {
    padding: 40px 100px;
    height: 50vh;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .name-section {
    position: relative;
    order: 2;
    width: 100%;
    text-align: center;
    @include breakpoint-up(large) {
      order: 1;
      text-align: left;
    }
    p {
      font-size: 18px;
      color: var(--text-secondary);
      @include breakpoint-up(large) {
        font-size: 24px;
      }
    }
    .inner-typing-wrapper {
      @include breakpoint-up(large) {
        position: absolute;
        width: calc(60vw - 100px);
        font-size: 65px;
      }
      font-weight: 700;
      width: calc(100vw - 100px);
      font-size: 32px;
      color: var(--text-primary);
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-family: monospace;
      animation: typing 2s steps(16), blink 0.5s infinite alternate;
    }
    // .fname {
    //   width: 8.5rem;
    //   animation: typing1 2s steps(7), blink 0.5s none alternate;
    // }

    // .lname {
    //   overflow: hidden;
    //   width: 9.5rem;
    //   animation: typing2 2s steps(8), blink 0.5s step-end alternate;
    //   animation-delay: 2s;
    // }
  }

  .profile-pic {
    order: 1;
    @include breakpoint-up(large) {
      order: 2;
    }
    img {
      // filter: drop-shadow(30px 10px 4px #c4a5b3);
      height: 375px;
      width: 300px;
      object-fit: contain;
    }
  }

  .brief-details {
    color: var(--text-primary);
    .inner-div {
      width: 85%;
      border-left: 3px solid;
      padding: 12px;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
