@import url("../scss/var.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.head-title {
  font-size: 35px;
  color: var(--text-primary);
  margin-bottom: 15px;
}

.main-container {
  max-width: 1500px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--background);
}
header .title {
  font-weight: 600;
}
@media (min-width: 1024px) {
  header .title {
    font-size: 22px;
  }
}
header span {
  color: var(--text-primary);
  cursor: pointer;
  font-size: 14px;
}
@media (min-width: 1024px) {
  header span {
    font-size: 16px;
  }
}
header .head-options {
  display: flex;
  gap: 15px;
}
header .icon-val {
  margin-right: 5px;
}

.hero {
  padding: 40px 40px 65px;
  background-color: var(--bg-secondary);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media (min-width: 1024px) {
  .hero {
    padding: 30px 100px;
    height: 50vh;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
}
.hero .name-section {
  position: relative;
  order: 2;
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  .hero .name-section {
    order: 1;
    text-align: left;
  }
}
.hero .name-section p {
  font-size: 18px;
  color: var(--text-secondary);
}
@media (min-width: 1024px) {
  .hero .name-section p {
    font-size: 24px;
  }
}
.hero .name-section .inner-typing-wrapper {
  margin-top: 10px;
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  color: var(--text-primary);
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  animation: blink 0.5s infinite alternate;
  left: 2%;
}
@media (min-width: 1024px) {
  .hero .name-section .inner-typing-wrapper {
    font-size: 65px;
  }
}
@media (min-width: 640px) {
  .hero .name-section .inner-typing-wrapper {
    font-size: 52px;
    margin: 0;
    left: unset;
  }
}
.hero .profile-pic {
  order: 1;
}
@media (min-width: 1024px) {
  .hero .profile-pic {
    order: 2;
  }
}
.hero .profile-pic img {
  height: 275px;
  width: 275px;
  border-radius: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .brief-details {
  color: var(--text-primary);
}
.hero .brief-details .inner-div {
  width: 85%;
  border-left: 3px solid;
  padding: 12px;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.details-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  justify-items: center;
  text-align: center;
  background-color: var(--background);
  color: var(--text-primary);
  padding: 20px;
  align-items: center;
}
@media (min-width: 1024px) {
  .details-div {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
}
.details-div .detail-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.details-div .detail-section .detail-title {
  font-size: 20px;
  color: var(--text-secondary);
}
.details-div .detail-section .detail-value {
  font-size: 22px;
}
.details-div .detail-section .socials {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  font-size: 32px;
}
.details-div .detail-section .social-link {
  text-decoration: none;
  color: var(--text-primary);
}

.about-section {
  padding: 30px;
  font-size: 18px;
  background-color: var(--bg-secondary);
}
@media (min-width: 1024px) {
  .about-section {
    padding: 30px 50px;
  }
}
.about-section .inner-about {
  background-color: var(--background);
  color: var(--text-primary);
  padding: 35px 45px;
  border-radius: 15px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-section .inner-about .resume-actions {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.primary-button {
  background-color: var(--button-bg-primary);
  color: var(--button-bg-text-primary);
  outline: none;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 14px;
  min-width: 100px;
  cursor: pointer;
}

.secondary-button {
  background-color: var(--button-bg-secondary);
  color: var(--button-bg-text-secondary);
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  border: none;
  min-width: 100px;
  cursor: pointer;
}

.projects-section {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 40px;
}
.projects-section .mt-0 {
  margin: 0;
}

.project {
  background-color: var(--bg-secondary);
}
@media (min-width: 1024px) {
  .project {
    display: flex;
    gap: 70px;
  }
}
.project .project-img {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 20px;
}
.project .project-img .img-container {
  position: relative;
}
.project .project-img .in-progress-tag {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 12px;
  border: 2px solid;
}
.project .project-img .in-progress-tag img {
  height: 32px;
}
.project .project-img .project-img-detail {
  height: 180px;
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
  border: 5px solid transparent;
}
@media (min-width: 1024px) {
  .project .project-img .project-img-detail {
    height: 250px;
  }
}
.project .project-img .project-img-detail:hover {
  border: 5px solid var(--text-secondary);
  transform: scale(1.05);
  border-radius: 0;
}
.project .project-details {
  flex: 1;
  color: var(--text-primary);
  padding: 0 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .project .project-details {
    padding: 30px 20px;
    margin: 0;
  }
}
.project .project-details .proj-title {
  font-size: 28px;
}
.project .project-details .proj-in-progress {
  font-size: 22px;
  margin: -15px 0;
}
.project .project-details .tech {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.project .project-details .tech .tech-stack {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 5px 20px;
  box-shadow: var(--box-shadow-one);
  border-radius: 2px;
}
.project .project-details .app-actions {
  display: flex;
  gap: 15px;
  justify-content: center;
}
@media (min-width: 1024px) {
  .project .project-details .app-actions {
    justify-content: flex-start;
  }
}

.skills-div {
  background-color: var(--bg-secondary);
  padding: 25px 40px;
}
@media (min-width: 1024px) {
  .skills-div {
    padding: 25px 100px;
  }
}
.skills-div .skill-list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-div .skill-list img {
  width: 120px;
  filter: var(--drop-shadow);
}
@media (min-width: 1024px) {
  .skills-div .skill-list img {
    width: 145px;
  }
}
.skills-div .skill-list .skill-title {
  color: var(--text-primary);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}
.skills-div .add-padding {
  padding-left: 100px;
  padding-right: 100px;
}

.contact-div {
  background-color: var(--background);
  padding: 40px;
}
@media (min-width: 1024px) {
  .contact-div {
    padding: 50px 100px;
  }
}
.contact-div .contact-values {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contact-div .contact-values .contact {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-primary);
}
.contact-div .contact-values a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */