:root {
  --background: hsl(207, 26%, 17%);
  --bg-secondary: hsl(209, 23%, 22%);
  --text-secondary: hsl(240, 13%, 73%);
  --text-primary: hsl(0, 0%, 100%);
  --box-shadow-one: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-two: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --button-bg-primary: #465b94;
  --button-bg-secondary: #ffffff;
  --button-bg-text-primary: #ffffff;
  --button-bg-text-secondary: #2e3f6f;
  --button-secondary-border: #2e3f6f;
}

[data-theme="light"] {
  --background: hsl(0, 0%, 100%);
  --bg-secondary: hsl(220, 7%, 92%);
  --text-primary: hsl(200, 15%, 8%);
  --text-secondary: hsl(0, 2%, 51%);
  --box-shadow-one: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --box-shadow-two: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --button-bg-primary: #001d6c;
  --button-bg-secondary: #333333;
  --button-bg-text-primary: #ffffff;
  --button-bg-text-secondary: white;
  --button-secondary-border: #333333;

  /* #002231
    #4ec6e1 */
}
